<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment names="Staging, Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse">
        <header class="container">
            <div class="navbar-header">
                <div class="navbar-brand"><i class="fa fa-windows"></i>&nbsp;Chris Etter's Demo App</div>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
            </div>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "App")</li>
                    <li>@Html.ActionLink("About", "About", "App")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "App")</li>
                    <li>@Html.ActionLink("Shop", "Shop", "App")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }

                </ul>
            </div>
        </header>
    </div>

    <section class="container">
        <h2 class="text-center">@ViewData["Title"]</h2>
        @RenderBody()
    </section>

    <footer class="container">
        <div class="text-center">Copyright @DateTime.Now.Year Christopher Etter</div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/scripts.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
        <script src="~/dist/chrisetterdemoapp.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", false)

</body>
</html>

